Repository dadoonet/elasticsearch-beyonder, pull requests merged in 2025-03, with the labels that each got.

#346 Add support for bulk of initial dataset
  .github/workflows/maven.yml
  .github/workflows/pr.yml
  .github/workflows/update-doc.yml
  README.md
  src/main/documentation/README.md
  src/main/java/fr/pilato/elasticsearch/tools/ElasticsearchBeyonder.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchDataUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/util/ResourceList.java
  src/main/java/fr/pilato/elasticsearch/tools/util/SettingsFinder.java
  src/main/java/fr/pilato/elasticsearch/tools/util/SettingsReader.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderUnitTest.java
  src/test/resources/log4j2.xml
  src/test/resources/models/data-bulk-and-json-global-with-indices/_data/bulk-001.ndjson
  src/test/resources/models/data-bulk-and-json-global-with-indices/_data/bulk-002.ndjson
  src/test/resources/models/data-bulk-and-json-global-with-indices/person/_data/doc001.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/person/_data/doc002.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/person/_data/doc003.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/person/_data/doc004.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/person/_index_templates/person.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/test_1/_data/bulk-001.ndjson
  src/test/resources/models/data-bulk-and-json-global-with-indices/test_1/_data/bulk-002.ndjson
  src/test/resources/models/data-bulk-and-json-global-with-indices/test_1/_settings.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/test_2/_data/abcd.ndjson
  src/test/resources/models/data-bulk-and-json-global-with-indices/test_2/_settings.json
  src/test/resources/models/data-bulk-and-json-global-with-indices/twitter/_settings.json
  src/test/resources/models/data-global-with-indices/_data/bulk-001.ndjson
  src/test/resources/models/data-global-with-indices/_data/bulk-002.ndjson
  src/test/resources/models/data-global-with-indices/test_1/_data/bulk-001.ndjson
  src/test/resources/models/data-global-with-indices/test_1/_data/bulk-002.ndjson
  src/test/resources/models/data-global-with-indices/test_1/_settings.json
  src/test/resources/models/data-global-with-indices/test_2/_data/abcd.ndjson
  src/test/resources/models/data-global-with-indices/test_2/_settings.json
  src/test/resources/models/data-global-with-indices/twitter/_settings.json
  src/test/resources/models/data-global/_data/bulk.ndjson
  src/test/resources/models/data-global/twitter/_settings.json
  src/test/resources/models/data-more-indices/test_1/_data/bulk-001.ndjson
  src/test/resources/models/data-more-indices/test_1/_data/bulk-002.ndjson
  src/test/resources/models/data-more-indices/test_1/_settings.json
  src/test/resources/models/data-more-indices/test_2/_data/abcd.ndjson
  src/test/resources/models/data-more-indices/test_2/_settings.json
  src/test/resources/models/data-one-index/twitter/_data/bulk.ndjson
  src/test/resources/models/data-one-index/twitter/_settings.json
Labels: new

#348 Do not load data if the index already exists when starting
  README.md
  src/main/documentation/README.md
  src/main/java/fr/pilato/elasticsearch/tools/ElasticsearchBeyonder.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchIndexUpdater.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
Labels: update

#350 Ability to put indices with date math expression
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
  src/test/java/fr/pilato/elasticsearch/tools/TestContainerHelper.java
  src/test/resources/models/date-math-indices/%3Cmy-index-%7Bnow%2Fd%7D%3E/_data/bulk.ndjson
  src/test/resources/models/date-math-indices/%3Cmy-index-%7Bnow%2Fd%7D%3E/_settings.json
Labels: test

#351 Add more tests for date math expression index names
  README.md
  src/main/documentation/README.md
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
Labels: test

#355 Manage rollover and date maths indices like `<logstash-{now/d-2d}-000001>`
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchAliasUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchIndexUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/util/ResourceList.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
  src/test/java/fr/pilato/elasticsearch/tools/ResourceListTest.java
  src/test/resources/models/rollover-date-maths/%3Ctimeseries-%7Bnow%2Fd-2d%7D-000001%3E/_data/doc1.json
  src/test/resources/models/rollover-date-maths/%3Ctimeseries-%7Bnow%2Fd-2d%7D-000001%3E/_settings.json
  src/test/resources/models/rollover-simple/timeseries-000001/_data/doc1.json
  src/test/resources/models/rollover-simple/timeseries-000001/_settings.json
Labels: bug

#357 URL Decode index names before replacing with wildcards
  src/main/java/fr/pilato/elasticsearch/tools/util/ResourceList.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
  src/test/java/fr/pilato/elasticsearch/tools/ResourceListTest.java
Labels: bug

#358 Cleanup before release
  src/main/java/fr/pilato/elasticsearch/tools/ElasticsearchBeyonder.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchAliasUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchComponentTemplateUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchDataUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchIndexLifecycleUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchIndexTemplateUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchIndexUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchPipelineUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/util/DefaultSettings.java
  src/main/java/fr/pilato/elasticsearch/tools/util/ResourceList.java
  src/main/java/fr/pilato/elasticsearch/tools/util/SettingsFinder.java
  src/main/java/fr/pilato/elasticsearch/tools/util/SettingsReader.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderUnitTest.java
Labels: update

#359 Move from OSSRH to Maven Central
  .github/workflows/maven.yml
  .github/workflows/pr.yml
  README.md
  pom.xml
  src/main/documentation/README.md
Labels: update

#360 Fix GPG signature when deploying
  pom.xml
Labels: update

#361 Update to Elasticsearch 9.0.0
  README.md
  pom.xml
  src/main/documentation/README.md
Labels: update

#362 Update to Java 17
  .github/workflows/maven.yml
  .github/workflows/pr.yml
  .gitignore
  README.md
  pom.xml
  src/main/documentation/README.md
  src/main/java/fr/pilato/elasticsearch/tools/updaters/ElasticsearchComponentTemplateUpdater.java
  src/main/java/fr/pilato/elasticsearch/tools/util/DefaultSettings.java
  src/main/java/fr/pilato/elasticsearch/tools/util/ResourceList.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderRestIT.java
  src/test/java/fr/pilato/elasticsearch/tools/BeyonderUnitTest.java
  src/test/java/fr/pilato/elasticsearch/tools/JsonUtil.java
  src/test/java/fr/pilato/elasticsearch/tools/TestContainerHelper.java
  src/test/java/fr/pilato/elasticsearch/tools/VersionComparator.java
Labels: update

#363 README: add "Community" section
  README.md
  src/main/documentation/README.md
Labels: doc
